[submodule "hyperdata-node"]
	path = services/hyperdata-node
	url = git@github.com:Cortajarena/hyperdata-node.git
[submodule "hyperdata-indexer-hyperevm"]
	path = services/hyperdata-indexer-hyperevm
	url = git@github.com:Cortajarena/hyperdata-indexer-hyperevm.git
[submodule "hyperdata-node-sidecar"]
	path = services/hyperdata-node-sidecar
	url = git@github.com:Cortajarena/hyperdata-node-sidecar.git
[submodule "hyperdata-ingestion-flink"]
	path = jobs/flink
	url = git@github.com:Cortajarena/hyperdata-ingestion-flink.git
